.leftCol, .rightCol {
	height: 100vh;
	padding: 0;
}

.esri-view-height-xsmall .esri-expand .esri-widget--panel-height-only {
	max-height: 100%;
}

.esri-view-height-xsmall .esri-ui-corner .esri-component .esri-expand__content {
	max-height: 100%;
}



@media only screen and (max-width: 992px) {
	
	.leftCol {
		height: 60vh;
	}

	.rightCol {
		height: 40vh;
	}

	.esri-view-width-xsmall .esri-expand--auto .esri-expand__container--expanded {
		height: 100%;
		width: 100vw;
	}

	.esri-time-slider {
		min-width: 100% !important;
	}
	
  }